
@font-face {
	font-family: MerriweatherSans-Light;
	src: url('Fonts/MerriweatherSans-Light.otf') format('opentype');
}

html {
    background: #272B30;
}

body {
    font-family: Verdana, sans-serif;
    padding: 0;
    color: #FFFFF0; 
    line-height: 1.5em;

}


    body p {
        font-weight: 100;
        font-size: 1em;
    }


h1, h2 {
      visibility: hidden;
        position: fixed;
}

h3 {
    font-size: 1.7em;
}

h4 {
    font-size: 1.2em;
}


#crud-nav{
    margin-bottom:40px;
}

section {
    width: 80%;
    margin: 0 auto;
}

thead{
    font-size:large;
}

header {
    width: 100%;
    padding: 30px 0 30px;
    background-color: darkslategray ;
    overflow: auto;
    line-height:1.7em;
}
header p{
    font-size: 1.1em;
}
    header nav {
        width: 80%;
        margin: 0 auto ;
    
        
    }


    .slicknav_menu{
        display:none;
    }

        header nav li {
            position: relative;
            float: right;
            display: inline;
            text-align: center;
            font-size: .7em;
        }

     
        header nav li :hover{
             color: #ff6a00;

        }


    header h1 {
        font-size: 1.8em;
    }

    header #effect-text{
        position:absolute;
        padding:5px 5px 5px 5px;
        border: 2px solid white;
        color:#ff6a00;
    }

.cl-effect-8 a::before, .cl-effect-8 a::after {
    border: 2px solid white;

}



.work-sites img{
    width:100%;
    margin: 50px 0 0 0;
    border:3px solid #ff6a00;
}


.work-sites h3{
    font-size:2.5em;
    font-weight:bold;
    margin: 50px 0 50px 0; 
}

.work-sites p{
    margin-bottom: 20px;
}

.work-sites > .site-link{
    color:#fff;
    border: 2px solid #FFFFF0;
    padding:10px 10px 10px 10px;
    text-decoration:none;
}

.work-sites a:hover{
    color: #ff6a00;
}

.large-image{
    width:100%;
}


footer {
    clear: both;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    min-height: 50px;
}

footer img{
    position:absolute;
    width: 25px;
}

footer a{
    text-decoration:none;
    color:#FFFFF0;

}


footer a:hover{
        color:#ff6a00;

}





@media screen and (max-width: 800px) {

   

    header{
        padding:0px 0 0px;
        min-height: 150px;
    }

    .work-sites h3{
    font-size:1.1em; 
}

    .js #menu {
        display: none;
    }

    .js .slicknav_menu {
        display: block;
     
        background-color:darkslategray;
    }

    .slicknav_nav {
        background-color: #ff6a00;
        font-size: large;
        text-align: center;
    }

    .slicknav_btn {
        background-color: #ff6a00;
       padding:15px 15px 15px 15px
    }

    #sites img {
        width: 100%;
        margin-bottom: 10px;
    }

    #sites p {
        width: 100%;
        margin-bottom: 30px;
    }
}

