@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="about">
    <article>
        <h3>All About Chad Tackett</h3>
        <a class="subnav box-link" href="http://resume.linkedinlabs.com/19gmv8goy" target="_blank">Resume &#187;</a>
        <a class="subnav box-link" href="https://www.linkedin.com/pub/chad-tackett/11/3b4/a97" target="_blank">LinkedIn &#187;</a>
        
       
        <p>
            Hey there! My name is Chad Tackett and I am a web developer, amateur photographer, and all around nice guy. I enjoy traveling and experiencing new things. Currently I live in the awesome city of Seattle, WA surrounded by beautiful mountains and the puget sound. I currently work at Pacific Market International which is a design and manufacturing company specializing in food and beverage containers. We have three main brands which consist of Stanley, Aladdin, and Specialty Coffee. 
        </p>

    </article>

    <img src="~/Content/SiteImages/Photos/face.jpg" />
    <aside>
        <p>
            After a conversation with me you may pick up on a slight southern accent. That is because like so many in this area I am a transplant. Originally I am from Louisiana and grew up in the small town of Bastrop. So many of my core values that I have carried with me to this day came from my time living very simply in that small town back home.  
        </p>
        <p>
            When I am not working hard to learn everything there is to know about web programming, I like to ride my bike. I always find that just stepping away to taking a long ride down the burke gilman trail is always a good way to clear my head. I also love summer and I am beginning to get into photography. Washington state has so much natural beauty it is hard not to want to capture it on a regular basis. 
        </p>
    </aside>

    <article>
        <p>
            If you are interested in working with me please feel free to have a look at my <a href="http://resume.linkedinlabs.com/19gmv8goy">resume</a> or my <a href="https://www.linkedin.com/pub/chad-tackett/11/3b4/a97">LinkdIn</a> for full detail of my work history and contact info.
            I am open to freelance as well as full time and part time roles.

        </p>
    </article>

    <img src="~/Content/SiteImages/Photos/ellen.jpg" />
    <aside>
        <h3>Other Things About Me</h3>
        <p>

            No longer in my life do I have to walk alone. On the 11 day in November 2011 I married Ellen. Not to be a sap but she is my very best friend, she drives me insane and helps keep my sanity all at the same time. I love you my Ellen. Ellen is also beginning to get into the web industry. She is currently attending college at UW for web design and will be joining the community very soon. I am so proud of her.
        </p>

        <p>I also whated to mention my good friend and mentor Mike Sheehan. Mike is the Sr Web Developer at Pacific Market International and without his guidance in the last 2 years I would not be where I am today. Thanks Mike!</p>
        <p>Check out Mikes <a href="https://www.linkedin.com/in/dotnetmike">LinkedIn</a></p>

    </aside>





</section>
