@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<section>
<<<<<<< HEAD
<<<<<<< HEAD
    <form action="ReadData">
        <input type="radio" name="crudtype" value="0">Traditional ADO.NET&nbsp;
        <input type="radio" name="crudtype" value="1">Entity Framework
=======
=======
>>>>>>> f0c90fa1535a9f7a3cda118ef3b8b6576118213d


   

    <form action="Select">
        <input type="radio" name="crudtype" value="0">Traditional ADO.NET&nbsp;
        <input type="radio" name="crudtype" value="1">Entity Framework

<<<<<<< HEAD
>>>>>>> f0c90fa1535a9f7a3cda118ef3b8b6576118213d
=======
>>>>>>> f0c90fa1535a9f7a3cda118ef3b8b6576118213d
        <button type="submit">Submit</button>
    </form>

</section>
<<<<<<< HEAD
<<<<<<< HEAD


<section>
    
</section>
=======
>>>>>>> f0c90fa1535a9f7a3cda118ef3b8b6576118213d
=======
>>>>>>> f0c90fa1535a9f7a3cda118ef3b8b6576118213d
