@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<section>

    <form action="ReadData">
        <input type="radio" name="crudtype" value="0">Traditional ADO.NET&nbsp;
        <input type="radio" name="crudtype" value="1">Entity Framework

        <button type="submit">Submit</button>
    </form>

</section>




