@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<section class="well">
    <h3>@ViewBag.Message</h3>
</section>
<section>
    <a href="~/CrudDemo/Ado/Index">Go Back</a>
</section>


