@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="work-sites">

    <h3>Azure Aesthetics | Production Site | 2013</h3>

    <p>
        This was my first shot at a production website for a client. Azure Aesthetics is a skin and body studio in Spokane WA.
        This site is built with .NET MVC3 and features reponsive design, an administrative page so the client can update weekly specials,
        and a form for customers to submit email info for marketing communicaitons. This was also my first attempt at less css and I found out just
        how useful this method for writing css can be.
    </p>

    <a class="box-link" href="https://github.com/chdtcktt/AzureAesthetics" target="_blank">View Source on GitHub &#187;</a>
    <a href="http://www.azure-aesthetics.com/" target="_blank"><img src="~/Content/SiteExamples/Azure.JPG" /></a>





    <h3>Sailing Sales | Demo | 2014</h3>

    <p>
        Sailing Sales is a good showcase my skills in ASP.NET.
        This site features a gridview with a listing of all products comming back from a database, an inqury button to send the sales force a message.
        Once the messages are sent they are saved to a database using LINQ to the appropriate record. There is also an administrative page so the sales force
        can see the current inquires as well as export that data to a txt file.
    </p>
    <a class="box-link" href="https://github.com/chdtcktt/SailingSales" target="_blank">View Source on GitHub &#187;</a>
    <a href="http://tacketrc-001-site1.smarterasp.net/" target="_blank"><img src="~/Content/SiteExamples/SailingSails.jpg" /></a>




    <h3>Training Catalog | Demo | 2014</h3>
    <p>
        This site is a good show of my skills as a javascript developer using knockout and jquery. A small demo of a training portal so human resources can keep up with all the training needs for each employee
        in the company. The data is retrieved in JSON format from a demo WebAPI that I also built. A highly effiecient and dynamic example, please feel free to debug to see all network traffic.
    </p>

    <a class="box-link" href="https://github.com/chdtcktt/Portfolio/tree/master/MvcPortfolioWebsite/Areas/TrainingCatalog" target="_blank">View Source on GitHub &#187;</a>
    <a href="~/TrainingCatalog/Training/Index" target="_blank"><img src="~/Content/SiteExamples/Training.jpg" /></a>




    <h3>CRUD Operations | Demo | 2014</h3>
    <p>
        A simple demo showing interaction with a database in two different ways. The first way is traditional ADO.NET with stored procedures living on the database.
        The second approach is using Entity Framework to do all the heavy lifting for me. I think it is important to know many different ways to perform basic CRUD operations since each has its strengths and weaknesses.
    </p>
    <a class="box-link" href="https://github.com/chdtcktt/Portfolio/tree/master/MvcPortfolioWebsite/Areas/CrudDemo" target="_blank">View Source on GitHub &#187;</a>
    <a href="~/CrudDemo/Ado/Index" target="_blank"><img src="~/Content/SiteExamples/CrudDemo.jpg" /></a>

</section>


